*{
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "neulis-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;

    text-align: center;
    color: #373619;
}

#centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    display: block;
    text-decoration: none;
    color: #373619;  
}

a:hover {
    color: #63602D;
}