* {
    margin: 0;
    padding: 0;
}

header{
    background-color: #373619;
    height: 90px;
    
    font-family: "neulis-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}


header>nav{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    text-align: right;
     color:#D6A138;
    margin-right: 5%;

    transform:translateY(-65px);
    /*padding: ;*/
}



h2{
    font-family: "neulis-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px; 
}

p{
    font-family: "neulis-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;  
}

.tix{
    text-align: center;
}


.us{
    background:#D9D9D9;
    margin: 5% 15% 0% 15%;
    padding-left: 5%;
    padding-top: 5%;
    border-radius: 30px;
}



.about{
    text-align: right;
    
    margin: 0% 10% 0% 50%;

    transform:translateY(-110%);
}

a{
    text-decoration: none;
    color: white;
    text-align: right;
}
 
a:hover {
    color:#D9D9D9;
}

.review{
    background:#D9D9D9;
    margin: 5% 15% 5% 15%;
    padding-left: 5%;
    padding-top: 5%;
    border-radius: 30px;
    
}

.overview{
    text-align: right;
    margin: 0% 10% 0% 50%;
    transform:translateY(-95%);
    padding-bottom: -10%;
}

img {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

footer{
    background: #39393B;
    height: 100px;

    font-family: "neulis-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;

    color:white;
    text-align: left;
}

footer>nav{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    text-align: left;
    margin-right: 5%;

    transform:translateY(35px);
    padding-left: 3%;
}



