* {
    margin: 0;
    padding: 0;
}

header{
    background-color: #373619;
    height: 90px;
    
    font-family: "neulis-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}


header>nav{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    text-align: right;
     color:#D6A138;
    margin-right: 5%;

    transform:translateY(-65px);
    /*padding: ;*/
}

/*body {
    text-align: center;
    
}*/


h1{
    font-family: "neulis-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
}


h2{
    font-family: "neulis-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px; 
}

h3{
    font-family: "neulis-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;  
}

/*.map{
    transform: translateX(33%);
}*/

p{
    font-family: "neulis-sans", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 25px;

    
}

.info{
    background:#D9D9D9;
    margin: 5% 15% 5% 15%;
    padding: 5% 5% 5% 5%;

    border-radius: 30px;
}

.schedule{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    margin: auto;

    
}

.day1{
    width: 30%;
}

.day2{
    width: 30%;
}

.day3{
    width: 30%;
}

.directions {
    text-align: center;
    margin-top: 5%;
}

a{
    text-decoration: none;
    color: white;
    text-align: right;
}

a:hover {
    color:#D9D9D9;
}

footer{
    background: #39393B;

    font-family: "neulis-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;

    color:white;
    text-align: left;
}

